@import 'sidebarVariables';

a:-webkit-any-link {
  text-decoration: none;
}
.sidebar {
  position: fixed;
  display: flex;
  top: 0;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  background: var(--dark-color);
  padding: 6px 24px;
  z-index: 99;
  transition: all 0.5s ease;
  border-radius: 0 0 10px 10px;
  font-family: Raleway, sans-serif;
}
.sidebar.open {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: var(--white-color);
  font-size: 20px;
  font-weight: 600;
  transition: all 0.5s ease;
}

.sidebar i {
  color: var(--white-color);
  height: 60px;
  min-width: 40px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
i.arrow.down.bx.bxs-down-arrow {
  font-size: 14px;
  transform: rotate(0deg);
  transition: transform 0.3s linear;
}
i.arrow.down.bx.bxs-down-arrow.arrowOpen {
  transform: rotate(180deg);
  transition: transform 0.3s linear;
}

i.arrow.down {
  min-width: 25px;
}

.sidebar .nav-list {
  display: flex;
  justify-content: space-between;
  width: 35%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
  font-weight: bold;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  right: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
  font-weight: bold;
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar li .item {
  display: flex;
  flex-direction: row;
  height: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  font-weight: bold;
  padding-right: 22px;
  text-align: left;
}
.sidebar li .item.child-item {
  padding-right: 0;
}
.sidebar li .item:hover {
  background: var(--white-color);
}
.sidebar li .item .links_name {
  color: var(--white-color);
  font-size: 15px;
  font-weight: bold;
  pointer-events: none;
  transition: 0.4s;
  word-break: break-all;
  hyphens: manual;
  text-align: left;
}
.sidebar.open li .item .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li .item:hover .links_name,
.sidebar li .item:hover i {
  transition: all 0.5s ease;
  color: var(--dark-color);
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.item-container {
  width: 100%;
}
.children-container {
  background: var(--dark-color);
  border-radius: 0 0 10px 10px;
  //min-width: 180px;
  //display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.children-content {
  min-height: 40px;
  width: 90%;
  margin: 10px auto;
}
.childItem {
  margin-left: 0;
}
.child-item {
}

@media screen and (max-width: 1466px) {
  .sidebar .nav-list {
    width: 45%;
  }
}
@media screen and (max-width: 1187px) {
  .sidebar .nav-list {
    width: 50%;
  }
}
