/**
Burger button
 */
$button-width: 32px;
$line-height: 3px;
$button-height: 20px;
$vertical-padding: 10px;
$horizontal-padding: 20px;

/**
Color variables
 */
$main-dark: #1a202c;
$main-accent: #571bc1;