.main-container {
  display: flex;
}
.menu-container {
  height: 100vh;
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 60px;
  font-size: 1.2rem;
  animation: 0.5s out-in forwards;
  .side-bar-container {
    width: 100%;
  }
}

.menu-container.closed {
  width: 0;
  animation: 0.5s in-out forwards;
}
.burger-nav {
  padding: 20px 0;
}

.item-content,
.children-content {
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  text-align: start;
}

.item-content {
  padding: 15px 24px;
}

.children-content {
  padding: 0 24px;
}

.item-content:hover {
  color: #571bc1;
}
$buttonWidth: 32px;
$lineHeight: 3px;
$buttonHeight: 20px;
$vertPadding: 10px;
$horizontalPadding: 20px;

.burger-btn {
  background: none;
  outline: none;
  margin: auto;
  border: none;
  position: relative;
  width: $buttonWidth;
  height: $buttonHeight;
  padding: $vertPadding $horizontalPadding;
  box-sizing: content-box;

  &::before,
  &::after {
    content: '';
    width: $buttonWidth;
    height: $lineHeight;
    background: #1a202c;
    display: block;
    position: absolute;
    border-radius: 1px;
    transition: transform 0.5s ease, top 0.2s ease 0.2s;
  }

  &::before {
    top: $vertPadding;
  }

  &::after {
    top: calc(100% - #{$lineHeight + $vertPadding});
  }
  &.open {
    &::before,
    &::after {
      transition: transform 0.5s ease, top 0.2s ease 0.1s;
      top: calc(50% - #{$lineHeight / 2});
    }

    &::before {
      transform: rotate(135deg);
    }

    &::after {
      transform: rotate(225deg);
    }
  }
}

.open {
  .left-bar:after {
    transform-origin: center center;
    transform: rotate(-70deg);
  }
  .right-bar:after {
    transform-origin: center center;
    transform: rotate(70deg);
  }
}

@keyframes in-out {
  0% {
    width: 260px;
  }
  100% {
    width: 0;
  }
}
@keyframes out-in {
  0% {
    width: 0;
  }
  100% {
    width: 260px;
  }
}

a:-webkit-any-link {
  text-decoration: none;
  color: #1a202c;
}
