//.slide-enter-active {
//  transition: all 1s ease;
//}
//.slide-enter {
//  transition: all 0.1s ease;
//}
//.slide-leave-active {
//  transition: all 0.5s ease;
//  transform: translateX(-100%);
//}

.list-enter-active,
.list-leave-active {
  transition: all 1s;
}
.list-enter,
.list-leave-to {
  height: 0;
  transform: translateY(30px);
}

.list-leave,
.list-enter-to {
  height: 50px;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  .burger-nav {
    align-self: flex-end;
    padding: 20px 0;
  }
  .side-bar-container {
    width: 100%;
    font-size: 1.2rem;
  }
  .burger-nav.closed {
    align-self: flex-start;
  }
}
.item-content,
.children-content {
  display: grid;
  grid-template-columns: 16px 1fr auto;
  grid-column-gap: 20px;
  align-items: center;
  cursor: pointer;
  padding: 20px 24px;
  transition: 0.2s;
  text-align: start;
}
.item-content:hover {
  color: #571bc1;
}
$buttonWidth: 32px;
$lineHeight: 3px;
$buttonHeight: 20px;
$vertPadding: 10px;
$horizontalPadding: 20px;

.burger-btn {
  background: none;
  outline: none;
  margin: auto;
  border: none;
  position: relative;
  width: $buttonWidth;
  height: $buttonHeight;
  padding: $vertPadding $horizontalPadding;
  box-sizing: content-box;

  &::before,
  &::after {
    content: '';
    width: $buttonWidth;
    height: $lineHeight;
    background: #1a202c;
    display: block;
    position: absolute;
    border-radius: 1px;
  }

  &::before {
    top: $vertPadding;
  }

  &::after {
    top: calc(100% - #{$lineHeight + $vertPadding});
  }
}

.burger-btn {
  &::before,
  &::after {
    transition: transform 0.5s ease, top 0.2s ease 0.2s;
  }

  &.open {
    &::before,
    &::after {
      transition: transform 0.5s ease, top 0.2s ease 0.1s;
      top: calc(50% - #{$lineHeight / 2});
    }

    &::before {
      transform: rotate(135deg);
    }

    &::after {
      transform: rotate(225deg);
    }
  }
}

.open {
  .left-bar:after {
    transform-origin: center center;
    transform: rotate(-70deg);
  }
  .right-bar:after {
    transform-origin: center center;
    transform: rotate(70deg);
  }
}
