/**
Burger button
 */
$button-width: 32px;
$line-height: 3px;
$button-height: 20px;
$vertical-padding: 10px;
$horizontal-padding: 20px;

/**
Color variables
 */
$main-dark: #081F4B;
$main-accent: #0083FF;
$main-light: #A1B2CE;
$main-white: #FFFEFF;