@import 'src/assets/variables';
.toaster-container {
  .toaster-item {
    transition: 0.3s ease-in-out;
    position: fixed;
    right: 1%;
    top: 0;
    z-index: 200;
  }
}
@mixin toaster($variant: 'danger') {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 16px 20px 16px 16px;
  //background-color: map-get($main-colors, $variant);
  border-radius: $all-sides-large;
  width: fit-content;
  min-width: 480px;
  min-height: 80px;
  height: auto;
  transform: translateY(10px);
  animation: fadeInDown 0.2s ease-in-out;
.toaster-content {
  display: flex;
  .toaster-icon {
    svg {
      align-self: center;
      color: map-get($main-colors, $variant);;
    }
  }
  .toaster-message {
    font-size: 16px;
    font-weight: bold;
  }
}

  .toaster-close {
    transform: translateY(1px);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.slide-leave-active,
.slide-enter-active {
  animation: fadeInDown;
}

.slide-leave-to {
  animation: fadeOut 0.5s;
}

.light {
background: $base-white;
  .toaster-message {
    color:
  }
}