$primary: #5855fa;
$secondary: #e4ecf7;
$success: #66cb9f;
$warning: #f7936f;
$danger: #f16063;
$info: #68dbf2;
$dark: #16192c;

$dark-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'warning': $warning,
  'danger': $danger,
  'info': $info,
  'dark': $dark,
);
